body {
    font-family: Open Sans, sans-serif;
}
#grid-img{
    width: 25px;
}
#profile-img {
    width: 35px;
    border-radius: 50%;
}
ul.nav-bar {
    margin: 20px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;
    
}
li a {
    color: black;
    font-size: 12px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#logo {
    display: block;
    margin: 0 auto;
    padding-top: 120px;
}
#search {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 420px;
    height: 35px;
    font-family: Open Sans;
}
#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
button {
    font-family: Open Sans;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    height: 30px;
    border-radius: 2px;
}
button:hover {
    box-shadow: 0px 0px 2px 0.2px #424242;
}
p {
    font-size: 12px;
    margin-top: 20px;
    display: flex;
    column-gap: 8px;
    justify-content: center;
}
p a {
    text-decoration: none;
    color: blue;
}
footer {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    color: #777;
    background-color: #eee;
    font-size: 14px;
}
#footer1{
    padding: 10px 20px;
    border-bottom: 1px solid #bbb;
}
ul.foot-bar{
    padding: 10px 20px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 15px;
}
li.foot-bar a.foot-bar{
    color: #777;
}